.venv
__pycache__
experiments.log
venv/
.env
slurm-*
anaphoragym_env/
experiments.log
results/targetted_assessment/AnaphoraGym_Results_meta-llama_Meta-Llama-3.1-8B-Instruct.csv
results/targetted_assessment/model_comparison_summary.csv
results/targetted_assessment/AnaphoraGym_Results_meta-llama_Llama-3.2-1B.csv
results/targetted_assessment/AnaphoraGym_Results_meta-llama_Llama-2-13b-hf.csv
results/targetted_assessment/AnaphoraGym_Results_lmsys_vicuna-13b-v1.3.csv
results/targetted_assessment/AnaphoraGym_Results_meta-llama_Llama-2-7b-chat-hf.csv
results/targetted_assessment/AnaphoraGym_Results_lmsys_vicuna-7b-v1.5.csv
results/targetted_assessment/AnaphoraGym_Results_gpt2.csv
results/targetted_assessment/AnaphoraGym_Results_gpt2-medium.csv
results/targetted_assessment/AnaphoraGym_Results_gpt2-large.csv
results/targetted_assessment/AnaphoraGym_Results_EleutherAI_pythia-410m-deduped.csv
results/targetted_assessment/AnaphoraGym_Enriched_Results_WithLLH.csv
results/targetted_assessment/AnaphoraGym_Enriched_Results_WithLLH_WIDE.csv
results/targetted_assessment/AnaphoraGym_Enriched_Results_Rowwise.csv
results/targetted_assessment/AnaphoraGym_Enriched_Results_Clean.csv
results/targetted_assessment/AnaphoraGym_Enriched_Results_Calculations.csv
results/targetted_assessment/AnaphoraGym_All_Model_Results_Concatenated.csv
results/mechanistic_analysis/AnaphoraGym_Patchscope_Results_meta-llama_Llama-2-13b-hf.csv
results/mechanistic_analysis/AnaphoraGym_Patchscope_Results_meta-llama_Llama-2-7b-chat-hf.csv
results/mechanistic_analysis/AnaphoraGym_Patchscope_Results_EleutherAI_pythia-12b.csv
results/mechanistic_analysis/AnaphoraGym_Patchscope_Results_EleutherAI_gpt-j-6b.csv
